<!--Created by: DINH HOANG VIET PHUONG - #301123263 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <img src="/Assets/images/logo.jpg" alt="Vincent logo"> 
      <h1 class="display-4">Welcome to the <%= title %> page.</h1>

      <header>
        <hr style="border-style:solid; border-color:black; border-width: 3px">
          <h3>COMP229 - Web Application Development</h3>
          <h4>Student name: Dinh, Hoang Viet Phuong (Vincent) - Student #301123263 </h4>
          <hr style="border-style:solid; border-color:white; border-width: 3px">
      </header>

      <h5><b><strong><i><em>My services: </em></i></strong></b></h5>
      <ul>
      <li>Website development</li>

      <li>Logo design</li>
      <img src="/Assets/images/spiderweblogo.jpg">
      <li>Wedding photography</li>
      <img src="/Assets/images/wedding.jpg">
      </ul>

      <h5><b><strong><i><em>More information about me:</em></i></strong></b></h5>
      <ul>
        <li><a href = "/views/about">About me</a></li>
        <li><a href = "/views/product">My product</a></li>
        <li><a href = "/views/contact">Contact me</a></li>
        <li><a href = "/views/services">My services</a></li>
      </ul>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>